body {
   background-color: rgb(70, 142, 236);
   font: normal 15pt Arial;

}
header {
     color:white;
     text-align: center;

    }
section {
    background-color: white;
    border-radius: 10px;
    padding: 200px;
    width: 300px;
    margin:10%;
    box-shadow: 3px 3px 10px;

}  
section p{
    text-align: left;
} 


footer {
    color:white;
    text-align: center;
    font-style: italic;

} 

